<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>songName</key>
		<string>Aarti01</string>
		<key>songType</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>Aarti02</string>
		<key>songType</key>
		<string>mp3</string>
	</dict>
</array>
</plist>
